@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #d5d8dd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-page-outer {
  width: 100vw;
  height: 100vh;
  background: #d5d8dd;
  padding: 0 10vw;
  display: flex;
  justify-content: center;
}

.loading-container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  background-color: white;
}

.loading-pokeball {
  height: 100px;
  filter: brightness(80%);
  animation: rotatePokeBall ease-in-out 3s infinite;
}

@keyframes rotatePokeBall {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  margin: 30px 10px;
  padding-left: 10px;
  height: 40px;
  width: 50vw;
  max-width: 750px;
  font-size: 26px;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 1px rgba(37, 37, 37, 0.3);
  -webkit-box-shadow: 3px 3px 3px 1px rgba(37, 37, 37, 0.3);
  -moz-box-shadow: 3px 3px 3px 1px rgba(37, 37, 37, 0.3);
}

.search-button {
  background-color: #d3d1d1;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 18px;
  box-shadow: 3px 3px 3px 1px rgba(37, 37, 37, 0.3);
  -webkit-box-shadow: 3px 3px 3px 1px rgba(37, 37, 37, 0.3);
  -moz-box-shadow: 3px 3px 3px 1px rgba(37, 37, 37, 0.3);
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pokemon-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.pokemon-list-container {
  width: 80vw;
  display: flex;
  justify-content: center;
  flex-flow: wrap row;
  overflow-x: auto;
}

.no-result-container {
  height: 100px;
  display: flex;
  align-items: center;
}

.pokemoncard-container {
  background-color: white;
  background-image: url(static/pokeball-white-icon.png);
  background-repeat: no-repeat;
  background-size: 200px auto;
  background-position-x: 300px;
  height: 200px;
  width: 400px;
  margin: 10px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 1px rgba(37, 37, 37, 0.3);
  -webkit-box-shadow: 3px 3px 3px 1px rgba(37, 37, 37, 0.3);
  -moz-box-shadow: 3px 3px 3px 1px rgba(37, 37, 37, 0.3);
}

.card-type-outer-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.card-type-container1,
.card-type-container2 {
  position: relative;
  bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  border-radius: 10px;
  opacity: 0.8;
}

.card-type-container1::first-letter {
  text-transform: capitalize;
}

.pokemon-id {
  position: relative;
  top: -75px;
  left: -170px;
}

.pokemon-name {
  position: relative;
  top: -80px;
  color: black;
  font-size: 20px;
}

p::first-letter {
  text-transform: capitalize;
}

.pokemon-image {
  position: relative;
  top: -40px;
  height: 100px;
  width: auto;
  -webkit-filter: drop-shadow(3px 3px 3px rgb(80, 80, 80));
  filter: drop-shadow(3px 3px 3px rgb(80, 80, 80));
}

.modal-container {
  height: 50vh;
  width: inherit;
  display: flex;
  justify-content: center;
}

.modal-id {
  position: absolute;
  left: 24px;
  top: 20px;
}

.modal-image {
  position: absolute;
  top: -300px;
  transform: scale(1);
  image-rendering: pixelated;
  -webkit-filter: drop-shadow(3px 3px 3px rgb(80, 80, 80));
  filter: drop-shadow(3px 3px 3px rgb(80, 80, 80));
}

.modal-name {
  position: absolute;
  top: 175px;
}

.modal-name h2::first-letter {
  text-transform: capitalize;
}

.modal-description {
  position: absolute;
  top: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-description * {
  margin-left: 50px;
  margin-right: 50px;
}

.modal-type {
  position: absolute;
  top: 375px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-type-children {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.modal-type-children p {
  margin-left: 10px;
  margin-right: 10px;
}

.modal-height {
  position: absolute;
  top: 475px;
  margin-right: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.modal-weight {
  position: absolute;
  top: 475px;
  margin-left: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.modal-abilities {
  position: absolute;
  top: 575px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-abilities-children {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.modal-abilities-children p {
  margin-left: 10px;
  margin-right: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
