* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

#root {
  width: 100vw;
  background: #d5d8dd;
  padding: 0 10vw;
  display: flex;
  justify-content: center;
}

/*
body {
  background: #d5d8dd;
  padding: 0 10vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url(static/pokeball-icon.png);
  background-repeat: no-repeat;
  background-position-x: -180px;
  background-position-y: -80px;
  width: 100%;
}
*/

.loading-container {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  background-color: white;
}

.loading-pokeball {
  height: 60px;
  filter: brightness(80%);
  animation: rotatePokeBall ease-in-out 3s infinite;
}

@keyframes rotatePokeBall {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*
.hideLoading {
  animation: hideLoading ease-in-out 0.5s;
  animation-fill-mode: forwards;
}

@keyframes hideLoading {
  0% {
    top: 0;
  }
  100% {
    top: -100vh;
  }
}
*/

.hideLoading {
  display: none !important;
}

.search-container {
  margin: 30px 10px;
}

.search-input {
}

.search-button {
  background-color: #ecd820;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: #db900388 5px 5px 15px;
  color: white;
  font-size: 18px;
}
